<div class="container mt-4 mb-5">
  <mat-tab-group>
    <!-- Thong tin tai khoan -->
    <mat-tab label="My Info">
      <div class="container mt-2">
        <div class="row mt-3">
          <div class="col-md-6">
            <h4 class="text-primary">
              Fullname: <span class="text-secondary">{{ fullname }}</span>
            </h4>
          </div>
          <div class="col-md-6">
            <h4 class="text-primary">
              Username: <span class="text-secondary">{{ username }}</span>
            </h4>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <h4 class="text-primary">
              Email: <span class="text-secondary">{{ email }}</span>
            </h4>
          </div>
          <div class="col-md-6">
            <h4 class="text-primary">
              Phone number:
              <span class="text-secondary">{{ phonenumber }}</span>
            </h4>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12 d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              data-toggle="modal"
              data-target="#modelId"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Thong tin khoa hoc da dang ky -->
    <mat-tab label="My Courses">
      <div class="container mt-2">
        <h3 class="bg-primary text-light mt-3">My subcribed courses</h3>
        <div class="row mt-2 mb-2">
          <ng-container *ngFor="let course of listGhiDanh; let index = index">
            <div class="col-md-6">
              <div class="card mb-3 max-width-400">
                <div class="col-md-12 d-flex justify-content-center">
                  <h4>{{ course.tenKhoaHoc }}</h4>
                </div>
                <div class="col-md-12 d-flex justify-content-center mb-2">
                  <button class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<app-modal-info
  [fullname]="fullname"
  [username]="username"
  [email]="email"
  [phonenumber]="phonenumber"
></app-modal-info>
