<div class="container mt-4 mb-5">
  <mat-tab-group>
    <!-- Thong tin tai khoan -->
    <mat-tab label="My Info">
      <div class="container mt-2">
        <div class="row mt-3">
          <div class="col-md-6">
            <h4 class="text-primary font-weight-bold">
              Fullname: <span class="text-secondary">{{ fullname }}</span>
            </h4>
          </div>
          <div class="col-md-6">
            <h4 class="text-primary font-weight-bold">
              Username: <span class="text-secondary">{{ username }}</span>
            </h4>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <h4 class="text-primary font-weight-bold">
              Email: <span class="text-secondary">{{ email }}</span>
            </h4>
          </div>
          <div class="col-md-6">
            <h4 class="text-primary font-weight-bold">
              Password:
              <span class="text-secondary">{{ password }}</span>
            </h4>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <h4 class="text-primary font-weight-bold">
              Phone number:
              <span class="text-secondary">{{ phonenumber }}</span>
            </h4>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary btn-lg font-weight-bold"
              data-toggle="modal"
              data-target="#modelId"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Thong tin khoa hoc da dang ky -->
    <mat-tab label="My Courses">
      <div class="container mt-2">
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-primary font-italic font-weight-bold mt-3">
              My subcribed courses
            </h3>
          </div>
          <div class="col-md-6">
            <div class="form-outline">
              <input
                type="search"
                id="form1"
                class="form-control"
                placeholder="course name"
                aria-label="Search"
                #inputSearch
                [ngModel]="searchCourse(inputSearch.value)"
              />
            </div>
          </div>
        </div>

        <div class="row mt-2 mb-2">
          <div *ngIf="!listFilter; then thenBlock; else elseBlock"></div>
          <ng-template #thenBlock>
            <ng-container *ngFor="let course of listGhiDanh; let index = index">
              <div class="col-md-6">
                <div class="card mb-3 max-width-400">
                  <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-info">{{ course.tenKhoaHoc }}</h4>
                  </div>
                  <div class="col-md-12 d-flex justify-content-center mb-2">
                    <button
                      class="btn btn-danger"
                      (click)="unsubscribeCourse(course)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-template>
          <ng-template #elseBlock>
            <ng-container *ngFor="let course of listFilter; let index = index">
              <div class="col-md-6">
                <div class="card mb-3 max-width-400">
                  <div class="col-md-12 d-flex justify-content-center">
                    <h3 class="text-primary font-weight-bold">
                      {{ course.tenKhoaHoc }}
                    </h3>
                  </div>
                  <div class="col-md-12 d-flex justify-content-center mb-2">
                    <button
                      class="btn btn-danger"
                      (click)="unsubscribeCourse(course)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<app-modal-info
  [fullname]="fullname"
  [username]="username"
  [password]="password"
  [email]="email"
  [phonenumber]="phonenumber"
></app-modal-info>
