<div class="card">
  <img
    class="card-img-top"
    [src]="course.hinhAnh"
    alt="Card image cap"
    style="width: 250px; height: 150px"
  />
  <div class="card-body">
    <h5 class="card-title text-truncate">{{ course.tenKhoaHoc }}</h5>
    <p class="card-text text-truncate">
      {{ course.moTa }}
    </p>
    <!-- Truyen 1 param -->
    <!-- <a class="btn btn-success" routerLink="/detail/{{ course.maKhoaHoc }}"
      >Detail</a
    > -->

    <!-- Truyen nhieu params -->
    <a
      class="btn btn-primary"
      routerLink="/detail/{{ course.maKhoaHoc }}"
      [queryParams]="{ tenKhoaHoc: course.tenKhoaHoc, biDanh: course.biDanh }"
      >Detail</a
    >
    <button
      class="btn btn-danger ml-2"
      data-toggle="modal"
      data-target="#exampleModal"
      (click)="xemNhanh()"
    >
      Xem nhanh
    </button>
  </div>
</div>
