<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="">Navbar</a>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-course" routerLinkActive="active"
          >List course</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="navbar-toggler-icon"></span>Menu
        </a>

        <div
          class="dropdown-menu bg-primary"
          aria-labelledby="dropdownMenuLink"
          *ngIf="listDanhMuc"
        >
          <ng-container *ngFor="let item of listDanhMuc; let index = index">
            <a
              class="dropdown-item font-weight-bold"
              href="/list-course-menu/{{ item.maDanhMuc }}"
              routerLinkActive="active"
              >{{ item.tenDanhMuc }}</a
            >
          </ng-container>
        </div>
      </li>
      <li class="nav-item">
        <div class="searchbar">
          <input
            class="search_input"
            type="text"
            id="searchInput"
            name="searchInput"
            placeholder="Course name"
            #searchInput
          />
          <a
            routerLink="/search-course/{{ searchInput.value }}"
            class="search_icon"
            (click)="clickme(searchInput.value)"
          >
            <i class="fas fa-search"></i>
          </a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav d-flex justify-content-end">
      <div *ngIf="account; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <li class="nav-item ml-3">
          <a class="btn btn-info text-light" routerLink="/user-info"
            >User Info</a
          >
        </li>
      </ng-template>
      <ng-template #elseBlock>
        <li class="nav-item ml-3">
          <a class="btn btn-info text-light" routerLink="/login">Login</a>
        </li>
      </ng-template>

      <li class="nav-item ml-3">
        <a class="btn btn-danger text-light" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
