<div class="container mt-5 mb-4 d-flex justify-content-center">
  <form
    style="width: 400px"
    #loginHomeForm="ngForm"
    (ngSubmit)="loginHome(loginHomeForm.value)"
  >
    <h2 class="text-center">Login</h2>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label">Username</label>
      <input
        type="email"
        name="taiKhoan"
        ngModel
        class="form-control"
        required
        #TaiKhoan="ngModel"
        minlength="3"
        maxlength="15"
      />

      <div
        class="alert alert-danger"
        *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)"
      >
        <!-- Kiem tra rong -->
        <div *ngIf="TaiKhoan.errors.required">Tai khoan ko dc rong</div>
        <!-- kiem tra do dai ki tu -->
        <div *ngIf="TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength">
          Do dai phai tu 3 den 15
        </div>
      </div>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label">Password</label>
      <input
        type="password"
        name="matKhau"
        ngModel
        class="form-control"
        #MatKhau="ngModel"
        required
        minlength="5"
        maxlength="10"
      />

      <div
        class="alert alert-danger"
        *ngIf="MatKhau.errors && (MatKhau.dirty || MatKhau.touched)"
      >
        <!-- Kiem tra rong -->
        <div *ngIf="MatKhau.errors.required">Mat khau ko dc rong</div>
        <!-- kiem tra do dai ki tu -->
        <div *ngIf="MatKhau.errors.minlength || MatKhau.errors.maxlength">
          Do dai phai tu 5 den 10
        </div>
      </div>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Simple link -->
        <a routerLink="/register">dont have account?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      [disabled]="!loginHomeForm.valid"
      class="btn btn-primary btn-block"
    >
      Login
    </button>
  </form>
</div>
