<div class="container mt-5 mb-4 d-flex justify-content-center">
  <form style="width: 400px">
    <h2 class="text-center">Login</h2>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="taiKhoan" class="form-control" />
      <label class="form-label">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="matKhau" class="form-control" />
      <label class="form-label">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Simple link -->
        <a routerLink="/register">dont have account?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
</div>
