<div class="flip-card mb-1 mt-1">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img
        [src]="course.hinhAnh"
        alt="Card image cap"
        style="width: 200px; height: 200px"
      />
    </div>
    <div class="flip-card-back">
      <ng-container style="position: absolute; top: 0; left: 0">
        <h5 class="card-text text-truncate mt-5 ml-1 mr-1">
          {{ course.tenKhoaHoc }}
        </h5>

        <a
          class="btn btn-primary mt-1 ml-1 mr-1"
          routerLink="/detail/{{ course.maKhoaHoc }}"
          [queryParams]="{
            tenKhoaHoc: course.tenKhoaHoc,
            biDanh: course.biDanh
          }"
          >Detail</a
        >
      </ng-container>
    </div>
  </div>
</div>
