<div class="card mt-2 mr-2">
  <img
    class="card-img-top w-100"
    [src]="course.hinhAnh"
    alt="Card image cap"
    style="height: 150px"
  />
  <div class="card-body">
    <h5 class="card-title text-truncate">{{ course.tenKhoaHoc }}</h5>
    <p class="card-text text-truncate">
      {{ course.moTa }}
    </p>
    <!-- Truyen 1 param -->
    <!-- <a class="btn btn-success" routerLink="/detail/{{ course.maKhoaHoc }}"
      >Detail</a
    > -->

    <!-- Truyen nhieu params -->
    <a
      class="btn btn-primary"
      routerLink="/detail/{{ course.maKhoaHoc }}"
      [queryParams]="{ tenKhoaHoc: course.tenKhoaHoc, biDanh: course.biDanh }"
      >Detail</a
    >
  </div>
</div>
