<nav class="navbar navbar-light bg-light">
  <div class="container justify-content-end">
    <p class="font-weight-bold font-italic text-primary mr-3 mt-3">
      Chào bạn <span class="text-danger">{{ user }}</span>
    </p>

    <div class="dropdown" mdbDropdown>
      <button
        mdbDropdownToggle
        class="dropdown-toggle waves-light"
        type="button"
        mdbWavesEffect
      >
        <mdb-icon fas icon="user-circle"></mdb-icon>
      </button>

      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" routerLink="/user-info">Account info</a>
        <a class="dropdown-item" (click)="Logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
