<nav class="navbar navbar-light bg-light">
  <div class="container justify-content-end">
    <p class="font-weight-bold font-italic text-primary mr-3 mt-2">
      Chào bạn <span class="text-danger">{{ user }}</span>
    </p>
    <div class="dropdown show">
      <a
        class="dropdown-toggle"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <mdb-icon fas icon="user-circle"></mdb-icon>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" routerLink="/user-info">Account info</a>
        <a class="dropdown-item" (click)="Logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
